
<main role="main">
  <div>
    <div class="container mt-5">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-light text-center">
            <tr>
              <th>Código</th>
    
              <th class="w-25">Nome</th>
    
              <th class="w-10">Categorias</th>
    
              <th class="w-10">Localização</th>
              
              <th class="w-10">Empregados</th>
    
              <th class="w-10">Série de Investimentos</th>
            </tr>
          </thead>
          
          <tbody>
            
            <tr *ngFor="let s of startups">
                <td class="text-center">{{s.id_startup}}</td>
          
                <td><a [routerLink]="['/detailStartup', s.id_startup]" class="link-dark rounded">{{s.name}}</a></td>
    
                <td>{{s.categories}}</td>
          
                <td>{{s.location}}</td>
    
                <td class="text-center">{{s.numberEmployers}}</td>
    
                <td>{{s.investmentSeries}}</td>
            </tr>
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>