
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
        <img src="../assets/images/logo-startup-dark.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Startup
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Home</a>
          </li>
        </ul>
      </div>
      <form class="d-flex">
        <div class="input-group-btn search-panel me-1">
          <select name="search_param" id="search_param" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
              <option value="location">Local</option>
              <option value="numberEmployers">Funcionários</option>
              <option value="investmentSeries">Série</option>
          </select>
        </div>
        <input class="form-control me-2" id="mySearch" type="search" placeholder="Pesquisa" aria-label="Search">
        <button class="btn btn-danger" type="submit">Pesquisar</button>
      </form>
    </div>
  </nav>
</header>

<router-outlet>

</router-outlet>
